<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="./assets/styles/main.css")
    body
        .wrapper
            section.eat
                h1.eat__title Ты сегодня покормил кота?
                .eat__wrapper
                    .eat__container
                        ul.eat__list
                            li.eat__item
                                .card                            
                                    .card__title Сказочное заморское яство
                                    .card__name Нямушка <br/> с фуа-гра                                    
                                    .card__desc
                                        p 10 порций
                                        p мышь в подарок                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                    .card__logo
                                        img(src="./assets/images/cot.png", alt="" class="card__logo-img")
                            li.eat__item
                                .card                            
                                    .card__title Сказочное заморское яство
                                    .card__name Нямушка <br/> с фуа-гра                                    
                                    .card__desc
                                        p 10 порций
                                        p мышь в подарок                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                    .card__logo
                                        img(src="./assets/images/cot.png", alt="" class="card__logo-img")
                            li.eat__item
                                .card                            
                                    .card__title Сказочное заморское яство
                                    .card__name Нямушка <br/> с фуа-гра                                    
                                    .card__desc
                                        p 10 порций
                                        p мышь в подарок                                                                                                                                                                                                                                                                                                                                                                                                                                                    
                                    .card__logo
                                        img(src="./assets/images/cot.png", alt="" class="card__logo-img")                                                                                

                  


